.hide {
    display: none;
}

.show {
    display: block;
}

.expandMoreIcon {
    transform: translateY(17px);
    margin-left: 20px;
    background-color: red;
    border-radius: 3px;
}

.black {
    color: black;
}

.green {
    color: green;
}